body{
    text-align: center;
    width: 1440px;
    margin: auto;
}
.section {
    width: 100%;
}
.nav{
    height: 50px;
    background-color: black;
    display: flex;
    justify-content:space-around;
}
a {
    color: white;
    width: 200px;
    height: 50px;
    font-size: 20px;
    margin-left: 30px;
}
.banner {
    height: 300px;
    background-color: rgb(22, 22, 22);
    padding-top: 150px;
}
.logo {
    text-align: center;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
}
.bicycle {
    height: 898px;
    border: 0;
    background-color: rgb(235, 230, 230);
}
.item-tile {
    width: 300px;
    height: 300px;
    background-color: white;
    border: solid 1px rgb(177, 177, 177);
    float:left;
    margin: 70px 85px;
}
.item-tile:nth-child(3n+1){
    clear: both;
}
.item-img,.hit-img {
    width: 270px;
    height: 200px;
}
.item-text {
    font-size: 19px;
}
.hits {
    height: 898px;
    border: solid 1px white;
    background-color: rgb(235, 230, 230);
}
.hit-text{
    font-size: 40px;
}
.item-hits {
    float:left;
    width: 300px;
    height: 300px;
    background-color: white;
    border: solid 1px rgb(177, 177, 177);
    margin: 50px 200px;
}
.item-hits:nth-child(2n){
    clear: both;
}
@media(max-width:960px){
    .bicycle {
        background-color: rgb(54, 44, 44);
        height: auto; 
        padding: 10px 0 10px 0;  
    }
    .item-tile {
        width: calc(100% - 20px);
        float: none;
        margin: 10px 0 10px 10px;
    }
    .item-text {
        font-size: 40px;
    }
    .hit-text { 
        font-size: 50px;
    }
}
@media(max-width:480px) {
    .bicycle {
        display: none;
    }
    .banner {
        background-color: rgb(22, 22, 22);
    }
    .nav {
        width: 100%;
        flex-direction: column;
        height: 400px;
    }
    a {
        width: auto;
        height: 100px;
        font-size: 50px; 
        margin: 10px;
        border: solid 1px  rgb(44, 43, 43);
        border-radius: 10px;
        background-color: rgb(22, 22, 22);
    }
    .item-hits {
        float: none;
        flex-direction: column;
        width: auto;
        margin: 50px;
    }
    .hits {
        height:auto;
    }
    .hit-text {
        font-size: 90px;
    }
}

